/* repetitive style */
h2 {
    grid-area: h2;
}
img {
    grid-area: img;
}
div {
    grid-area: p;
}
article {
    grid-area: bg;
}
.color-container {
    grid-area: c;
}
p {
    grid-area: zp;
}
h2 {
    color: #444444;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.63px;
    font-style: normal;
    text-transform: uppercase;
    text-align: start;
    margin: 0;
}
p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #222222;
    text-align: left;
    margin: 7px 0 7px 0;
}
.white {
    color: #fff;
}

/* HEADER*/

.logo {
    width: 88px;
    height: 21px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    padding: 21px 17px 0 14px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 40px;
}

.menu > li {
    overflow: hidden;
}
.menu > li > a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    color: #fff;
}
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
.menu-button::before {
    content: '';
    margin-top: -8px;
}
.menu-button::after {
    content: '';
    margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container {
    width: 183px;
    height: 59px;
    background-color: #45a1d1;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 17px;
    /* align-items: right; */
}
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 750px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 59px;
        /* margin-top: 50px; */
        /* padding-top: 50px; */
        right: 0;
        flex-direction: column;
        width: 200px;
        gap: 0;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        height: 32px;
        line-height: 20px;
        padding-left: 16px;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li:last-child {
        padding-bottom: 16px;
    }
    .menu > li {
        padding: 0.5em;
        display: flex;
        justify-content: flex-start;
        margin: 0;
        width: 184px;
        color: white;
        background-color: #45a1d1;
    }
}
header {
    background-image: url('../assets/garrett-butler-dU22KiaO0mk-unsplash 2.png');
    background-size: cover;
    background-position: top;
    height: 567px;
}

h1 {
    margin: 129px 0 127px 0;
    font-weight: 700;
    color: #fff;
    font-size: 32px;
    line-height: 40.22px;
    text-transform: uppercase;
}
.header-link {
    background-color: #45a1d1;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    line-height: 22.63px;
    padding: 12px 69px;
    text-transform: uppercase;
}
.header-link:hover {
    background-color: #fff;
}
header a:hover {
    color: #444444;
}

/* ERGONOMICS section */

.section-container {
    max-width: 100%;
    margin: 18px 16px 0 16px;
    background-color: #f7f7f9;
    padding: 14px 14px;
}
.section-container .kayak {
    width: 274px;
    height: auto;
    margin: -5px 0px 0 -7px;
}
.kayak-p {
    margin: -31px 0 20px 0;
}
.color-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.color-container > .circle {
    width: 38px;
    height: 38px;
    display: inline-block;
    border-radius: 50%;
}
.color-container > .little-circle {
    width: 21px;
    height: 21px;
    display: inline-block;
    border-radius: 50%;
}
.color-container > .sand {
    background-color: #b9b09b;
    margin-right: 10px;
}
.color-container > .little-sand {
    background-color: #b9b09b;
    margin-right: 5px;
}
.color-container > .green {
    background-color: #3d502a;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-16 {
    margin-bottom: 16px;
}
.links-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px 20px;
    margin: 24px 0 8px 0;
    justify-content: baseline;
}
.ergonomics-link {
    border-radius: 2px;
    border: 1px solid #444444;
    text-decoration: none;
    color: #444444;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 7px 12px;
}
.ergonomics-link:hover {
    color: #fff;
    background-color: #444444;
}
.dark {
    color: #fff;
    background-color: #444444;
    /* margin-left: 50px; */
    float: right;
    /* position: absolute;
    right: 111px; */
}
.dark:hover {
    color: #444444;
    background-color: #fff;
}

/* FIN section */

.fin-background {
    background-image: url('../assets/Mask group.png');
    background-size: 100%;
    max-width: 400px;
    max-height: auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.fin {
    max-width: 100%;
    height: 317px;
}

/* SEAT section */

.gradient {
    background: linear-gradient(
        146.09deg,
        #1b6f9a 20.1%,
        #82c8ed 59.29%,
        #82c8ed 90.98%
    );
}
.size400 {
    font-weight: 400;
}
.gradient .seat {
    width: 260px;
    height: auto;
}

/* FEATURES section */

.features {
    max-width: 100%;
    height: auto;
}
.big-table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    margin: 15px -14px;
    padding: 30px 14px;
    width: 100%;
    max-width: 473px;
}
.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #444444;
    align-items: flex-end;
    border-bottom: 0.5px solid #cccccc;
    padding: 4px;
    margin: -4px -4px;
}
.table > .row-title {
    color: #888888;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.table > .row-value {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.big-table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* LEASING section */

.leasing-box {
    width: 144px;
    height: 84px;
    background: rgba(255, 255, 255, 0.25);
    font-weight: 700;
    position: relative;
    top: -24px;
    left: 130px;
}
.SBlogo {
    max-width: 100%;
    height: auto;
}
body > .leasing {
    background-image: url('../assets/marc-olivier-jodoin-TjqzQlWlcP8-unsplash.png');
    /* background-image: url('../assets/BG.png'); */
    /* background-size: 100%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #45a1d1;
    mix-blend-mode: multiply;
    color: #fff;
    /* position: relative; */
}
.leasing h2 {
    margin-top: -9px;
    color: #fff;
}
.leasing p {
    color: #fff;
}
section > .contact {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #444444;
    text-align: center;
}
section > .contact-p {
    font-size: 18px;
    color: #222222;
    text-align: center;
}
.contacts > form input[type='submit'] {
    font-size: 18px;
    line-height: 22.63px;
    font-weight: 600;
    color: #ffffff;
    background: #1f8cc5;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 12px 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}
.contacts > form > input {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #cccccc;
    font-family: 'Source Sans Pro';
    border-radius: 2px;
    padding: 15px 69px 14.17px 14px;
}
.contacts {
    background-color: #fff;
}

/* FOOTER */

footer {
    line-height: 15.08px;
    font-weight: 400;
    font-size: 12px;
    padding: 23px 0 22px 0;
    background-color: #444444;
    color: #ffffff;
}

/* breakpoints */

@media (min-width: 768px) {
    .table > .row-title {
        font-size: 18px;
        line-height: 23px;
    }
    .table > .row-value {
        font-size: 22px;
        line-height: 28px;
    }
    header {
        background-image: url('../assets/garrett-butler-dU22KiaO0mk-unsplash 1.png');
        background-size: cover;
        height: 542px;
    }
    .logo {
        width: 184px;
        height: 45px;
    }
    .top-nav {
        height: 30px;
        font-size: 24px;
        font-weight: 700;
        padding: 61px 40px 0 40px;
    }

    .header-link {
        border-radius: 4px;
        font-size: 28px;
        line-height: 35px;
        padding: 20px 57px;
    }
    .section-container {
        margin: 40px 40px 0 40px;
        padding: 52px 95px;
        position: relative;
    }
    h2 {
        font-size: 38px;
        line-height: 48px;
    }
    p {
        font-size: 18px;
        line-height: 32px;
    }
    .color-container > .circle {
        width: 81px;
        height: 81px;
    }
    .color-container > .little-circle {
        width: 30px;
        height: 30px;
    }
    .section-container .kayak {
        max-width: 931px;
        width: 100%;
        height: auto;
        margin-top: -50px;
    }
    .gradient .seat {
        max-width: 524px;
        width: 100%;
        height: auto;
    }
    .fin {
        max-width: 522px;
        width: 522px;
        height: auto;
    }
    .big-table {
        margin: 15px 0px;
        padding: 30px 44px;
        gap: 28px;
    }
    .color-container > .sand {
        margin-right: 22px;
    }
    .color-container > .little-sand {
        margin-right: 10px;
    }
    .kayak-p {
        margin-top: -60px;
    }
    header a:hover {
        color: #45a1d1;
    }
}

@media (min-width: 1000px) {
    h1 {
        margin: 150px 0 99px 0;
        font-size: 48px;
        line-height: 60px;
    }
    .seat-grid {
        display: grid;
        grid-template-columns: 24% 24% 20% 20% 20%;
        grid-template-rows: auto;
        grid-template-areas:
            'img img h2 h2 h2'
            'img img p p p'
            'img img p p p';
    }
    .fin-grid {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: auto;
        grid-template-areas:
            'h2 h2 h2 bg bg'
            'p p p bg bg';
    }
    .kayak-grid {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 7% 58% 18% 7% 10%;
        grid-template-areas:
            'h2 h2'
            'img .'
            'img c'
            'img .'
            'zp zp';
    }
    .ergonomics-link {
        border-radius: 4px;
        border: 2px solid #444444;
        font-size: 28px;
        line-height: 35px;
        padding: 7px 12px;
    }
    .color-container > .circle {
        width: 49.5px;
        height: 49.5px;
    }
    .color-container > .little-circle {
        width: 40px;
        height: 40px;
    }

    /* .color-container {
        margin-left: 25px;
    } */
}
@media (min-width: 1200px) {
    .color-container > .circle {
        width: 69.5px;
        height: 69.5px;
    }
    .color-container > .little-circle {
        width: 50px;
        height: 50px;
    }
}
@media (min-width: 1440px) {
    .color-container > .circle {
        width: 91px;
        height: 91px;
    }
}
#succes-icon {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    width: 50px;
    bottom: -70px;
    display: none;
}
@media (min-width: 550px) {
    .dark {
        position: absolute;
        right: 95px;
    }
}
@media (min-width: 1392px) {
    .big-table-container {
        justify-content: space-between;
    }
}
